.idea
.DS_Store
.vscode
.gopath
SatHelperApp.cfg
parts
prime
stage
tmp
*.snap
snap/.snapcraft
build
dist
sathelperapp_source.tar.bz2
demuxdump*
*.zip
cmd/SatHelperApp/SatHelperApp
cmd/SatHelperApp/tmp/
cmd/SatHelperApp/out/
SatHelperApp
cmd/xritparse/xritparse
cmd/demuxReplay/replay
release*
bins
zips
cmd/xritpdcs/xritpdcs
cmd/rpcClient/client
